.transaction-container {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid silver;
    margin-top: 10px;
    border-style: outset;
  }
.conatiner{
    margin: 20px;
}
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  #progressBarContainer {
    width: 100%;
    background: #ddd;
  }
  
  #progressBar {
    height: 20px;
    background: #4caf50;
    width: 0%;
  }
  